**{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(58, 58, 58);
    color: white;
    font-family: helvetica neve, Arial, Helvetica, sans-serif;
}
/* Header*/
header{
    background: black;
    background-image: url('images/res.jpg');
    background-size: 100%;
    background-position: center;
    padding: 20px;
    text-align: center;
    height: 300px;
}
header h1{
    color: orange;
    text-align: center;
    text-decoration: wavy;
}
header .mobile{
    display: none;
} 
header .sidebar{
    display: none;
}
header .logo a{
    background-image: url('images/otell.peg.jpeg');
    background-size: 300px;
    background-repeat: no-repeat;
    background-color: red;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -9999999px;
    top: -30px;
    width: 300px;
    text-align: left;

}
header .log{
    display: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}
ul li a{
    color: white;
}
/* Features*/
.features{
    background: white;
    color: gray;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
}
#figure img a{
    text-decoration: none;
}
.products{
    background: white;
    color: gray;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.features figure{
    width: 100px;
    text-align: center;
    margin: auto;
}
.products figure{
    width: 100px;
    text-align: center;
    margin: auto;
}
.features figure img{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: gray 0 0 10px;
    width: 200px;
}
.products figure img{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: gray 0 0 10px;
    width: 200px;
}
.features figure img:hover{
    padding: 5%;
    background: aqua;
}
.products figure img:hover{
    padding: 5%;
    background: aqua;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li a:hover{
    color: rgb(0, 255, 17);
    transition: .4s;
}
a{
    text-align: center;
    text-decoration: none;
    color: orange;
}
footer{
    bottom: 0px;
    width: 100%;
    background: rgb(29, 75, 75);
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0;
}
.left .content ul{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1c90ca;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: .4s;
}
.left .content .social a:hover{
    background: #930505;
}
/* Responsive */
@media screen and (max-width: 700px){
    header{
        height: 200px;
    }
    header .log{
        display: inline-block;
        text-align: right;
        position: relative;
    }
    header .mobile{
        display: none;
    }
    header .desktop{
        display: none;
    }
    header .logo{
        display: inline-block;
        color: green;
        text-decoration: dotted;
        text-justify: auto;
    }
    header .logo:hover{
        display: none;
    }
    header .logo a{
        display: none;
    }
/* slide bar */
header .sidebar{
    display: block;
    }

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: auto;
    background: #042331;
    transition: all .5s ease;
    }
.sidebar header{
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 2px;
    background: #063146;
    user-select: none;
    height: 50px;
    }
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: 0.4s;
    }
ul li:hover a{
    padding: 10px;
    }
.sidebar ul a i{
    margin-right: 16px;
    }
#check{
    display: none;
    }
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
    }
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
    }
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
    }
#check:checked ~ .sidebar{
    left: 0;
    }
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
    }
#check:checked ~ label #cancel{
    left: 195px;
    }
#check:checked ~ section{
    margin-left: 250px;
    }
}
.features figure img{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: gray 0 0 10px;
    width: 110px;
}
.products figure img{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: gray 0 0 10px;
    width: 110px;
}



/*-- added a scroll bar to the side menu bar--*/
@media screen and (max-width: 700px){
    .sidebar{
        height: 90%;
        line-height: 20px;
        font-size: 10px;
        overflow-y: scroll;
    }
}
@media screen and (max-width: 700px){
    .box .content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }   
}
#cart{
    background: whitesmoke;
    padding-right: 30px;
    overflow: scroll;
}
.taste-header{
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: o;
    background: whitesmoke;
}
.item-menu{
    margin:0;
    font-size:30px;
    margin-top: 40px;
    color: indianred;
    background: whitesmoke;
}
.border{
    width:80px;
    height:4px;
    margin:3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: coral;
}
.list-card{
    display:flex;
    align-items: center;
    margin-top: 15px;
    background: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}  
.list-card:hover{
    background: rgb(255,216,222);
}
.list-card:hover img{
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}
.list-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-name{
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(94.43,43);
}